/* Estilos globales */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #1e90ff;
}


.logo span{
    font-size: 15px;
    font-weight: bold;
    color: #1e90ff;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbarEnlace {
    text-decoration: none;
    color: #333;
    margin: 0 5px;
}

.navbarEnlace:hover {
    color: #1e90ff; 
    background-color: rgba(30, 144, 255, 0.1); 
    border-radius: 5px; 
    padding: 5px;
}

.services-dropdown {
    position: relative;
}

.services-submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
}

.services-dropdown:hover .services-submenu {
    display: block;
    opacity: 1;
}

.services-submenu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.services-submenu a:hover {
    background-color: #f0f0f0;
    color: #1e90ff;
}

.contact-button {
    display: inline-block; 
    background-color: #1e90ff; 
    color: #fff; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer; 
}

.contact-button:hover {
    background-color: #0d6efd;
    transform: translateY(-3px); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Responsive Header */
@media (max-width: 768px) {
    .navbar {
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        align-items: center;
    }

    #menu-toggle:checked + .navbar {
        display: flex;
    }

    .hamburger {
        display: block;
        color: #333;
    }

    .services-dropdown {
        width: 100%;
        text-align: center;
    }

    .services-submenu {
        position: relative;
        width: auto;
        left: 50%; 
        transform: translateX(-50%);
        box-shadow: none; 
    }
}

/* Sección del hero */
.hero {
    background: url('imagenes/armario-medico-totalmente-equipado_1303-23913.avif') no-repeat center left/cover;
    height: 95vh;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 60px;
    margin-top: 75px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.social-icons {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.hero-text {
    position: relative;
    z-index: 1;
    margin-left: 30px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.hero-buttons button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #1e90ff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.hero-buttons button:hover {
    background-color: #0d6efd;
    transform: scale(1.05);
}

/* Services Section */
    .services {
        padding: 60px 20px;
        text-align: center;
        padding-top: 20px;
        scroll-margin-top: 80px;
    }

    .services h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .service-cards {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    .card {
        padding: 25px;
        border: 1px solid #ddd;
        border-radius: 10px;
        text-align: center;
        width: 250px;
        height: 350px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    .card img {
        max-width: 60px;
        margin-bottom: 15px;
    }

    .card:hover {
        transform: translateY(-5px);
    }

/* Map Section */
    .mapaTitulo{
        text-align: center;
        font-size: 36px;
        margin-bottom: 30px;
    }

    .map-section {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        max-width: 1200px;
        margin: 40px auto;
    }

    #map {
        width: 65%;
        height: 400px;
        position: relative;
    }

    .map-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact-info {
        width: 35%;
        padding: 30px;
        background-color: white;
        text-align: left;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-info h3 {
        font-size: 28px;
        color: #2a2a2a;
        margin: 0;
    }

    .contact-info p {
        font-size: 16px;
        color: #555;
        margin: 10px 0;
        display: flex;
        align-items: center;
    }

    .contact-info p i {
        margin-right: 8px;
        color: #4a90e2;
    }

    .route-link {
        display: inline-block;
        margin-top: 20px;
        font-size: 16px;
        color: #4a90e2;
        text-decoration: none;
        border-bottom: 1px solid #4a90e2;
        transition: color 0.3s;
    }

    .route-link:hover {
        color: #2a2a2a;
    }

/* Blog Section */
.blog {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.blog-content {
    max-width: 1200px;
    text-align: center;
}

/* Texto introductorio */
.blog-text {
    margin-bottom: 40px;
}

.blog-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.blog-text p {
    color: #555;
    line-height: 1.6;
}

/* Estilo de las filas de trabajo */
.blog-rows {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.blog-image img:hover {
    transform: scale(1.05); 
}

.blog-description {
    flex: 1;
    text-align: left;
}

.blog-description h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.blog-description p {
    color: #777;
    margin-bottom: 10px;
    text-align: center;
}

/* Responsiveness */
@media (max-width: 768px) {
    .blog-row {
        flex-direction: column;
        text-align: center;
    }

    .blog-image {
        order: -1;
    }

    .blog-description {
        text-align: center;
        order: 1;
    }

    /* Centrar encabezado y párrafos */
    .blog-description h3,
    .blog-description p {
        text-align: center;
    }
}


/* Carrusel Section */

    .carousel-container {
        position: relative;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-image {
        width: 100%;
        height: 400px;
        object-fit: cover;
        opacity: 0;
        display: none;
        transition: opacity 1s ease-in-out;
        filter: brightness(0.7) blur(2px);
    }

    .carousel-image.active {
        display: block;
        opacity: 1;
        filter: brightness(1) blur(0px);
    }

    button.prev, button.next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
        font-size: 24px;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }

    button.prev:hover, button.next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    button.prev {
        left: 10px;
    }

    button.next {
        right: 10px;
    }


/* Footer Section */
footer {
    background-color: #5e5e5e;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}

.footer-info {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

.footer-rights {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}

@media (max-width: 768px) {
    .hamburger {
        display: block; 
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    #menu-toggle:checked + .hamburger + .navbar {
        display: flex;
    }

    .service-cards,
    .blog-cards {
        flex-direction: column;
        align-items: center;
    }

    .map {
        flex-direction: column;
        align-items: center;
    }

    #map {
        width: 100%;
        height: 200px;
    }

    .contact-info {
        width: 100%;
        height: auto;
    }
}
